.SecondaryBgClr{
    background-color :#5EBFF0
    
}
.SecondaryClr{
    color :#5EBFF0
}
.primaryBgClr{
    background-color :#221763
    
}
.primaryClr{
    color :#221763
}
@media screen and (max-width: 576px){
        .text-xs-justify{
            text-align: justify;
            color: red;
        }
  }



@media screen and (min-width: 576px){
        .text-xs-justify{
            text-align: start;
            color: green;
        }
  }



